# Dependencies
node_modules/

# Build outputs
dist/
release/
out/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# asdf
.tool-versions.local
